<script type="text/javascript" src="{@html_path}/js/framework/jquery/jquery.js"></script>
<script type="text/javascript" src="{@html_path}/js/jquery.util.js"></script>
<script type="text/javascript" src="{@html_path}/resources/bootstrap/js/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="{@html_path}/resources/bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{@html_path}/resources/bootstrap/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="{@html_path}/css/style.css">